# Site prefix to be used in ARV numbers (eg LLH)
site_prefix:

emastercard:
  engine: mysql2
  host: localhost
  port: 3306
  username: username
  password: password
  database: emastercard

emr:
  engine: mysql2
  host: localhost
  port: 3306
  username: username
  password: password
  database: emr